.header {
    width: 100%;
    height: 60px;
}

.nav {
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.navBtn {
    width: 45px;
    height: 45px;
    margin-top: 15px;
    background-color: #fcfcfc;
    border-radius: 50%; 
}

.navBtn:hover {
    cursor: pointer;
    background-color: red;
}

.img {
    width: 45px;
    height: 45px;
    margin: 0 auto;
}