.wrapper {
    width: 700px;
    margin-top: 80px;
}

.inputCommentsArea {
    width: 600px;
    height: 40px;
    margin: 0 auto;
}

.inputText {
    width: 500px;
    height: 32px;
}

.sentBtn {
    width: 92px;
    height: 40px;
   
}

.alert {
    width: 600px;
    height: 80px;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
    border: 1px solid red;
    border-radius: 10px;
    text-align: center;
    padding-top: 50px;
}